<%= @comments.each do |commemt|%>
  <div class="card-body">
    <h1 class="article-title text-center"><%= commemt.comment_title%><h1>
    <div>
      <p><%= comment.comment %></p>
    </div>
  </div>
<% end %>
