// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article-image{
  width: 300px;
}
.article-image-box{
  width: 100%;
  height: 450px;
}
.banner-image{
  width: 100%;
  height: 450px;
}
.article-wrapper{
  width: 1200px;
  margin: auto;
}
.article{
  padding: 5px 10px;
  margin-bottom: 10px;
}
.article-title{
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
  margin: 0px;
}
.article-description{
  padding-top:10px;
  text-align: justify;
  white-space: pre-wrap;
}