.page-wrapper{
  width: 100%;
}
.wrapper{
  width: 1200px;
  margin:  auto;
}

.dashboard-wrapper{
  margin: 15px 5px;
  vertical-align: middle;
}
.box{
  border-radius: 10px;
  margin: 20px 0;
  width: 200px;
  height: 150px;
}
